[submodule "src/components/eve-api"]
	path = src/components/eve-api
	url = git://github.com/aragaer/nsieveapiservice.git
[submodule "src/components/eve-market"]
	path = src/components/eve-market
	url = git://github.com/aragaer/nsievemarketexportsservice.git
[submodule "src/program/jaet"]
	path = src/program/jaet
	url = git://github.com/aragaer/jaet.git
[submodule "binary/images"]
	path = binary/images
	url = git@github.com:aragaer/jaet-images.git
